.header {
    padding: 37px 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    @media (min-width: 1440px) {
        max-width: 1440px;
        right: calc(50vw - 735px);
        left: calc(50vw - 735px);
    }
    @media (max-width: 600px) {
        padding: 37px 25px;
    }
}

.logo {
    width: 120px;    
}


.menu {
    display: flex;
    gap: 40px;
    font-size: 19px;

    a:hover{
        color: #70E61C;
    }
    @media (max-width: 700px) {
        display: none;
    }
}

.menu-mobile {
    display: none;
    cursor: pointer;
    @media (max-width: 600px) {
        display: block;
    }
}

.reachedSection {
    color: #70E61C;
    position: relative;
}

.reachedSection::before {
    content: '';
    position: absolute;
    bottom: -5px;
    background-color: #9747FF;
    width: 30px;
    height: 3px;
}

.language-buttons {
    position: absolute;
    top: 10px;
    left: 50%;
}