.header {
    padding: 37px 100px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
}

.logo {
    display: flex;
    font-size: 35px;
    font-weight: 700;

    span {
    position: relative;
    }

    .logo-detail1 {
        font-size: 48px;
        font-weight: 800;
        position: absolute;
        padding-left: 59px;
        margin-top: -6px;
        color: #9747FF;
    }

    .logo-detail2 {
        font-weight: 1000;
        color: #70E61C;
        position: absolute;
        padding-left: 110px;
        margin-top: -22px;
    }
}

.menu {
    display: flex;
    gap: 20px;

    a:hover{
        color: #70E61C;
    }
}