<div class="footer">
    <div>
        <a href="/index.html">
            <img class="logo" src="assets/img/logo.png">
        </a><br>
        <a (click)="scrollToTop()" class="impressum" routerLink="/impressum">Impressum</a>
    </div>
    <div class="copyright">
        &copy; Sergej Schreiber 2023
    </div>
    <div class="menu">
        <a target="_blank" href="https://github.com/SergejSchreiber"><img src="assets/img/intro_github.png" alt="intro_github"></a>
        <a href="mailto:contact@sergej-schreiber.de"><img src="assets/img/intro_email.png" alt="intro_email"></a>
        <a target="_blank" href="https://www.linkedin.com/in/sergej-schreiber/"><img src="assets/img/intro_linkedin.png" alt="intro_linkedin"></a>
    </div>
</div>
