<div class="footer">
    <div>
        <a href="/index.html">
            <div class="logo">
                <span>Ser gej</span>
                <span class="logo-detail1"><</span>
                <span class="logo-detail2">.</span>
            </div>
        </a>
        <a (click)="scrollToTop()" class="impressum" routerLink="/impressum">Impressum</a>
    </div>
    <div class="copyright">
        &copy; Sergej Schreiber 2023
    </div>
    <div class="menu">
        <a target="_blank" href="https://github.com/SergejSchreiber"><img src="../../assets/img/intro_github.png" alt="intro_github"></a>
        <a href="mailto:sn-schreiber@gmail.com"><img src="../../assets/img/intro_email.png" alt="intro_email"></a>
        <a target="_blank" href="https://www.linkedin.com/in/sergej-schreiber-3927362a3/"><img src="../../assets/img/intro_linkedin.png" alt="intro_linkedin"></a>
    </div>
</div>
