.footer {
  padding: 37px 100px;
  position: relative;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d2f;
  border-top: #70e61c 3px solid;
  height: 291px;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
  @media (max-width: 600px) {
    padding: 37px 25px;
    
  }
}

.logo {
  width: 200px;
}

.impressum {
  font-size: 16;
  font-weight: 400;
  position: relative;
}

.impressum:hover {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 60%;
    border-bottom: 3px solid #70e61c;
  }
}

.copyright {
  font-size: 21px;
}

.menu {
  display: flex;
  gap: 40px;

  a:hover {
    color: #70e61c;
    &:hover {
      scale: 1.3;
    }
  }
}
