.contact-section {
    position: relative;
    display: flex;
    margin-bottom: 50px;
}

.contact-line {
        position: absolute;
        left: 0px;
        top: 170px;
}

.contact-container {
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    position: relative;
    
}

.title2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 300px 100px 100px 100px;
    gap: 30px;
    a {
        color: #9747FF;
        text-decoration: underline;
    }
    textarea {
        min-height: 270px;
    }
    span {
        font-weight: 300;
        color: red;
        display: none;
        margin-top: -25px;
    }
}

.input_field_invalid {
    position: absolute;
    right: -20px;
    top: 15px;
    display: none;
}

.input_field_valid {
    position: absolute;
    right: -20px;
    top: 15px;
    display: none;
}

.contact-form-input-fields {
    position: relative;
}

.contact-form-input-fields input, textarea {
    width: 100%;
    background-color: #141D2F;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    padding: 15px 25px;
    border-radius: 10px;
    border-color: #9747FF;
    &::placeholder {
        color: white;
    }
    &:hover {
        border-color: #70E61C;
    }
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: #141D2F;
    border: 2px solid #70E61C;
    border-radius: 3px;
}

input[type="checkbox"]:checked + label::before {
    content: '\2713';
    font-size: 16px;
    color: #70E61C;
    text-align: center;
    line-height: 18px;
}

.privacy-policy-container {
    display: flex;
}

.send-message-button {
    display: flex;
    justify-content: center;
}

.back-to-top {
    width: 39px;
    height: 39px;
    position: absolute;
    right: 0px;
    bottom: -100px;
    margin-bottom: 50px;
    cursor: pointer;
}

.btthover {
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

.contact-shadow-r {
    position: absolute;
    right: 0;
    z-index: -10;
    top: -800px;
}

.contact-shadow-l {
    position: absolute;
    left: 0;
    z-index: -10;
    bottom: -300px;
}