<div id="contact-tab-stop" class="contact-section">
  <img class="contact-line" src="../../assets/img/skills_line.png"/>
  <div class="contact-container">
    <div class="contact-title-text">
      <div class="title">
        Contact
      </div>

      <div class="title2">
        Got a problem to solve?
      </div>
      <div>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
        <p>Need a Frontend developer? Contact me!</p>
      </div>
    </div>
  </div>

  <form class="contact-form" (submit)="sendMail()" ngNativeValidate #myForm>
    <input class="contact-form-input-fields" required type="text" name="name" #nameField placeholder="Your name"/>
    <input class="contact-form-input-fields" required type="email" name="email" #emailField placeholder="Your email"/>
    <textarea class="contact-form-input-fields" required type="text" name="message" #messageField placeholder="Your message"></textarea>
    <div>
      <input required type="checkbox" id="myCheckbox">
      <label for="myCheckbox">I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</label>
    </div>
    <div class="send-message-button">
      <button #sendButton>Send message</button>
    </div>
    <img (click)="scrollToTop()" class="back-to-top" src="../../assets/img/back-to-top.png">
  </form>
  <img class="contact-shadow-r" src="../../assets/img/contact_shadow_r.png">
  <img class="contact-shadow-l" src="../../assets/img/contact_shadow_l.png">
</div>
