<div id="about-tab-stop"></div>
<div class="about-container">
    <div class="title" translate>
        About me
    </div>
    <div class="about-text">
        <p translate>Hi, I am a Front-end developer based in Hamburg, Germany. I help designers and companies to bring their ideas to real life and I am looking forward to continuing my developer career with a job in a junior web developer position. </p>
        <p translate>If you think I'd be a good match for your projects, contact me!</p>
        <div class="display-flex">
            <img src="assets/img/about_text1.png" alt="about-text1">
            <p translate>I grew up in Hamburg and had an industrial managing apprenticeship. In my last 15 years I worked as a senior-buyer at Boeing Distribution, where I was responsible for many spare-parts to insure they are bought in time and with the right price.</p>
        </div>
        <div class="display-flex">
            <img src="assets/img/about_text2.png" alt="about-text2">
            <p translate>I enjoy to work with structure and precision and that's one of the reasons why I decided to become a software developer. This pursuit of precision on one hand and efficiency on the other is my personal nature, and it's what you can always expect from me.</p>
        </div>
    </div>
</div>
<div class="about-portrait">
    <img class="about-portrait-img" src="assets/img/portrait_small.png" alt="portrait_small">
    <img src="assets/img/about_line_right.png" alt="about_line_right">
</div>
<img class="about-shadow" src="assets/img/about_shadow.png" alt="about-shadow">
