
<div id="intro-tab-stop" class="intro">
    <div class="intro-pictures">
        <img class="photo-shadow" src="/assets/img/photo shadows.png" alt="photo-shadow">
        <img class="intro-background" src="/assets/img/intro-background.png" alt="intro-background">
        <img class="portrait_big" src="/assets/img/portrait_big.png" alt="portrait_big">
        <img class="portrait_big portrait_top_layer" src="/assets/img/portrait_top_layer.png" alt="portrait_big">
    </div>
    <div class="introduction-container">
        <div class="introduction-text">
            <div class="i-am">I am</div>
            <div>
                <div class="name">Sergej Schreiber</div>
                <div class="developer">FRONTEND DEVELOPER</div>
            </div>
        </div>
        <a href="#contact-tab-stop">
            <button class="introduction-button">
                Let's talk!
            </button>
        </a>
    </div>
    <div class="scroll-down">Scroll down &rarr;</div>
    <div class="intro-bottom-links">
        <img src="/assets/img/intro-line-bottom.png" alt="intro-line-bottom">
        <a target="_blank" href="https://github.com/SergejSchreiber"><img src="/assets/img/intro_github.png" alt="intro_github"></a>
        <a href="mailto:sn-schreiber@gmail.com"><img src="/assets/img/intro_email.png" alt="intro_email"></a>
        <a target="_blank" href="https://www.linkedin.com/in/sergej-schreiber-3927362a3/"><img src="/assets/img/intro_linkedin.png" alt="intro_linkedin"></a>
        <a class="intro-bottom-links-email" href="mailto:sn-schreiber@gmail.com">sn.schreiber&#64;gmail.com</a>
    </div>
</div>
<div id="skills-tab-stop"></div>