<div class="display-flex skill-section">
  <div class="skills-icons">
    <img src="../../assets/img/skills_angular.png" alt="skills_angular" />
    <img src="../../assets/img/skills_typescript.png" alt="skills_typescript" />
    <img src="../../assets/img/skills_javascript.png" alt="skills_javascript" />
    <img src="../../assets/img/skills_html.png" alt="skills_html" />
    <img src="../../assets/img/skills_firebase.png" alt="skills_firebase" />
    <img src="../../assets/img/skills_git.png" alt="skills_git" />
    <img src="../../assets/img/skills_css.png" alt="skills_css" />
    <img src="../../assets/img/skills_api.png" alt="skills_api" />
    <img src="../../assets/img/skills_scrum.png" alt="skills_scrum" />
    <img src="../../assets/img/skills_md.png" alt="skills_md" />
  </div>
  <div class="skills-container">
    <div class="skill-title-text">
      <div class="title">My skills
        <img src="../../assets/img/skills_line.png" alt="skills-line">
      </div>
      <div>
        I have gained experience in building projects with various front end
        technologies and concepts.
      </div>
    </div>
    <button>Get in touch</button>
  </div>
  <img class="skills-shadow" src="../../assets/img/skills_shadow.png" alt="skills_shadow">
</div>
