<div class="display-flex skill-section">
  <div class="skills-icons" [ngClass]="{'reachedSection': hasReachedSkills}">
    <div>
      <img src="assets/img/skills_angular.png" alt="skills_angular" />
      <span>Angular</span>
    </div>
    <div>
      <img src="assets/img/skills_typescript.png" alt="skills_typescript" />
      <span>TypeScript</span>
    </div>
    <div>
      <img src="assets/img/skills_javascript.png" alt="skills_javascript" />
      <span>JavaScript</span>
    </div>
    <div>
      <img src="assets/img/skills_html.png" alt="skills_html" />
      <span>HTML</span>
    </div>
    <div>
      <img src="assets/img/skills_firebase.png" alt="skills_firebase" />
      <span>Firebase</span>
    </div>
    <div>
      <img src="assets/img/skills_git.png" alt="skills_git" />
      <span>GIT</span>
    </div>
    <div>
      <img src="assets/img/skills_css.png" alt="skills_css" />
      <span>CSS</span>
    </div>
    <div>
      <img src="assets/img/skills_api.png" alt="skills_api" />
      <span>Rest-Api</span>
    </div>
    <div>
      <img src="assets/img/skills_scrum.png" alt="skills_scrum" />
      <span>Scrum</span>
    </div>
    <div>
      <img src="assets/img/skills_md.png" alt="skills_md" />
      <span>Material<br>Design</span>
    </div>
    
  </div>
  <div class="skills-container">
    <div class="skill-title-text">
      <div class="title" translate>My skills
        <img src="assets/img/skills_line.png" alt="skills-line">
      </div>
      <div translate>
        I have gained experience in building projects with various front end
        technologies and concepts.
      </div>
    </div>
    <a class="get-in-touch-btn-container" href="#contact-tab-stop">
      <button class="get-in-touch-btn">Get in touch</button>
    </a>
  </div>
  <img class="skills-shadow" src="assets/img/skills_shadow.png" alt="skills_shadow">
</div>
<div id="portfolio-tab-stop"></div>
