.skill-section {
    margin-left: 100px;
    margin-top: 300px;
    @media (max-width: 1000px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    @media (max-width: 600px) {
        margin-left: 25px;
    }
}

.skills-icons {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 600px) {
        justify-content: center;
    }
    div {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 50px 50px 0;
        img {
            margin-bottom: 8px;
            &:hover {
                transform: translateY(-15px);
                transition: 0.1s ease-in-out;
            }
        }
    }
}

.skills-container {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    @media (max-width: 1000px) {
    }
    img {
        position: absolute;
        right: -100px;
        top: 75px;
        @media (max-width: 1125px) {
            top:55px;
        }
        @media (max-width: 1000px) {
            right: -100px;
        }
    }
}

.skill-title-text {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: end;
}

.title {
    text-wrap: nowrap;
}

.skills-shadow {
    position: absolute;
    left: 0;
    top: 1900px;
    z-index: -1;
    @media (min-width: 1473px) {
        left: calc(50vw - 725px);
    }
}

.get-in-touch-btn-container {
    height: 80px;
    @media (max-width: 1000px) {
        position: absolute;
        top: 550px;
    }

    @media (max-width: 757px) {
        top: 700px;
    }

    @media (max-width: 627px) {
        top: 850px;
    }

    @media (max-width: 600px) {
        top: 700px;
    }

    @media (max-width: 552px) {
        top: 850px;
    }
    @media (max-width: 422px) {
        top: 1050px;
    }
}

.get-in-touch-btn {
    &:hover {
        padding: 20px 35px 20px 35px;
        transition: 0.1s ease-in-out;
    }
}

.reachedSection {
    animation: slide-in 0.5s ease-in-out;
    opacity: 1;
}

@keyframes slide-in {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}