<div class="portfolio-headline">
  <div class="portfolio-title">
    <img src="../../assets/img/portfolio_line_l.png" />
    <div class="title">Portfolio</div>
    <img src="../../assets/img/portofolio_line_r.png" />
  </div>
  <p>This page is a sample of my work - please feel free to try them out.</p>
</div>

<div class="portfolio-table">
  <table>
    <tr>
      <td class="left-col">
        <img src="../../assets/img/portfolio_join.png" />
      </td>
      <td class="right-col">
        <div class="app-title">Join</div>
        <div class="app-title2">JavaScript | HTML | CSS</div>
        <div class="app-description">
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </div>
        <div class="app-buttons left">
          <a href="https://sergej-schreiber.developerakademie.net/join/html/index.html" target="_blank"><button>Live Test</button></a>
          <a target="_blank" href="https://github.com/SergejSchreiber/join"><button class="no-background">Github</button></a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="left-col">
        <div class="app-title">El Pollo Loco</div>
        <div class="app-title2">JavaScript | HTML | CSS</div>
        <div class="app-description">
          Jump, run and throw game based on object-oriented approach. Help Pepe
          to find coins and tabasco salsa to fight against the crazy hen.
        </div>
        <div class="app-buttons right">
          <a target="_blank" href="https://sergej-schreiber.developerakademie.net/pollo_loco/index.html"><button>Live Test</button></a>
          <a target="_blank" href="https://github.com/SergejSchreiber/pollo_loco"><button class="no-background">Github</button></a>
        </div>
      </td>
      <td class="right-col">
        <img src="../../assets/img/portfolio_pollo_loco.png" />
      </td>
    </tr>
  </table>
  <img class="portfolio_shadow" src="../../assets/img/portfolio_shadow.png">
</div>
