<div class="portfolio-headline">
  <div class="portfolio-title">
    <img src="assets/img/portfolio_line_l.png" />
    <div class="title">Portfolio</div>
    <img class="portfolio-title-line-r" src="assets/img/portofolio_line_r.png" />
  </div>
  <p translate>This page is a sample of my work - please feel free to try them out.</p>
</div>

<div class="portfolio-table" [ngClass]="{'reachedSection': hasReachedPortfolio}">
  <table>
    <tr class="img-left">
      <td class="left-col">
        <a href="https://join.sergej-schreiber.de/html/index.html" target="_blank"><img src="assets/img/portfolio_join.png"/></a>
      </td>
      <td class="right-col">
        <div class="app-title">Join</div>
        <div class="app-title2">JavaScript | HTML | CSS</div>
        <div class="app-description" translate>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </div>
        <div class="app-buttons left">
          <a href="https://join.sergej-schreiber.de/html/index.html" target="_blank"><button>Live Test</button></a>
          <a target="_blank" href="https://github.com/SergejSchreiber/join"><button class="no-background">Github</button></a>
        </div>
      </td>
    </tr>
    <tr class="img-right">
      <td class="left-col">
        <div class="app-title">El Pollo Loco</div>
        <div class="app-title2">JavaScript | HTML | CSS</div>
        <div class="app-description" translate>
          Jump, run and throw game based on object-oriented approach. Help Pepe
          to find coins and tabasco salsa to fight against the crazy hen.
        </div>
        <div class="app-buttons right">
          <a target="_blank" href="https://el-pollo-loco.sergej-schreiber.de/index.html"><button>Live Test</button></a>
          <a target="_blank" href="https://github.com/SergejSchreiber/pollo_loco"><button class="no-background">Github</button></a>
        </div>
      </td>
      <td class="right-col">
        <a target="_blank" href="https://el-pollo-loco.sergej-schreiber.de/index.html"><img src="assets/img/portfolio_pollo_loco.png"/></a>
      </td>
    </tr>
  </table>
  <img class="portfolio_shadow" src="assets/img/portfolio_shadow.png">
</div>
