.portfolio-headline {
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow: hidden;
    p {
        margin-right: 450px;
        @media (max-width: 1200px) {
            margin-right: 250px;
        }
        @media (max-width: 1145px) {
            margin-right: 200px;
        }
        @media (max-width: 900px) {
            margin-right: 100px;
        }
        @media (max-width: 750px) {
            margin-right: 25px;
            margin-left: 25px;
        }
    }
    
}

.portfolio-title {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: end;
    margin-top: 100px;
    @media (max-width: 1200px) {
        margin-right: -200px;
    }
    @media (max-width: 1000px) {
        margin-top: 200px;
    }
    @media (max-width: 900px) {
        margin-right: -300px;
    }
    @media (max-width: 750px) {
        margin-right: -400px;
    }
}

.portfolio-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    img {
        height: 340px;
        @media (max-width: 600px) {
            height: 200px;
        }
    }
    
    @media (max-width: 1000px) {
        margin-left: 25px;
        margin-right: 25px;
        tr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
        }
        .img-right {
            flex-direction: column-reverse;
        }
    }

    button {
        background-color: #9747FF;
        &:hover {
            background-color: #70E61C !important;
            transition: 0.2s ease-in-out;
        }
    }

    td {
        width: 50%;
        padding: 40px;
        @media (max-width: 1000px) {
            padding: 0;
            width: auto;
        }
    }
}

.app-title {
    color: #9747FF;
    font-size: 32px;
    font-weight: 700;

}

.app-title2 {
    color: #70E61C;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
}

.app-description {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.app-buttons {
    display: flex;
    gap: 50px;
    margin-top: 25px;
    @media (max-width: 400px) {
        gap: 15px;

    }
}

.no-background {
    background-color: #141D2F !important;
    border: 1px solid #70E61C;
}

.left-col {
    text-align: end;
}

.left {
    display: flex;
    justify-content: left;
    align-items: left;
}

.right {
    display: flex;
    align-items: right;
    justify-content: right;
}

.right-col {
    text-align: left;
}

.left-col, .left, .right, .right-col {
@media (max-width: 1000px) {
    text-align: center; 
    align-items: center; 
    justify-content: center;
}
}

.portfolio_shadow {
    position: absolute;
    left: 0;
    top: 3000px;
    z-index: -10;
    @media (min-width: 1473px) {
        left: calc(50vw - 725px);
    }
}